.image_and_text{
  Display: Inline-Block;
  align-items: center;
  margin: 0px 0px 15px 15px;
  /*grid-template-columns: 1fr 1fr;*/
  column-gap: 10px;
}
.image_and_video{
  Display: Inline-Block;;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  margin: 0px 0px 15px 15px;
  column-gap: 15px;
}
.image{
  max-width: 100%;
  max-height:100%;
}
.text {
  font-style: oblique;
  font-size: 15px;
}
.header-2
{
  font-style: initial;
}
.font{
  font-family: Verdana;
}
.button{
  background-color: #196f5d;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
   border-radius: 12px;
  align-content: center;

}
* {
  box-sizing: border-box;
}
.text_and_image {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
.text {
  font-style: oblique;
  font-size: 15px;
}
.image{
  position: relative;
  max-width: 100%;
  max-height:100%;
}
